{{#bp-layout main='center' cross='center' local-class="page-mission"}}
	<div local-class='main-container' class="rounded bg-white">
		{{#if (bp-not-eq model.detailPaper.state 0)}}
			{{#bp-layout cross="center" classNames='mb-4'}}
				{{mission-state model.detailPaper.state}}
				{{show-endtime model.detailPaper}}
			{{/bp-layout}}
		{{/if}}
		<h1 local-class='title' class="mb-4">
			您好！<br>
			欢迎参与优时比区域周期计划测试
		</h1>
		<p local-class='desc' class="mb-3 pt-3">
			本次测试是区域管理周期测试，系统模拟了1位地区经理在工作中所面对的生意情况。<br>
			您需要根据他所面临的情况，帮助他完成3个季度的区域管理周期计划。<br>
			您的周期计划目标是达成地区总销售指标，促进地区业绩增长。
		</p>
		<p local-class='desc' class="mb-2">
			您将参与管理
		</p>
		<p local-class='item' class="pb-4">
			<span local-class='values'>{{model.destConfigRegions.length}}</span>
			<span local-class='keys' class="mr-4">个地区</span>
			<span local-class='values'>{{model.destConfigHospitals.length}}</span>
			<span local-class='keys' class="mr-4">家医院</span>
			<span local-class='values'>{{model.resourceConfigRepresentatives.length}}</span>
			<span local-class='keys' class="mr-4">名代表</span>
			<span local-class='values'>{{model.selfProductConfigs.length}}</span>
			<span local-class='keys' class="mr-4">个本公司产品</span>
		</p>
		{{#bp-layout main='between' cross='center' classNames='mt-3'}}
			{{#link-to "page-history-report"}}
				查看历史成果
			{{/link-to}}
			<p class="m-0">
				{{#if (bp-not-eq model.detailPaper.state 1 2 4)}}
					{{#bp-button type="primary" tagName='span'
							onClick=(action 'startDeploy' model.detailProposal.proposal.id)}}
						开始测试
					{{/bp-button}}
				{{else}}
					{{#bp-button tagName='span' classNames="mr-1" onClick=(action (mut reDeploy) true)}}
						重新开始
					{{/bp-button}}
					{{#bp-button type="primary" tagName='span' onClick=(action 'startDeploy' model.detailProposal.proposal.id)}}
						继续测试
					{{/bp-button}}
				{{/if}}
			</p>
		{{/bp-layout}}
	</div>
{{/bp-layout}}
{{#bp-modal
		open=reDeploy
		position='center'
		onHidden=(action (mut reDeploy) false) as |modal|}}
	{{#modal.header closeButton=false}}
		<h4 class="modal-title">
			重新部署
		</h4>
	{{/modal.header}}
	{{#modal.body}}
		重新开始将清空您上次尚未完成的决策记录，是否继续？
	{{/modal.body}}
	{{#modal.footer}}
		{{#bp-button type="link" onClick=(action modal.close)}}取消{{/bp-button}}
		{{#bp-button type="primary" onClick=(action 'reDeploy')}}重新部署{{/bp-button}}
	{{/modal.footer}}
{{/bp-modal}}