{{#bp-layout direction="col" local-class="reference-container" }}
	{{#bp-layout main="center" classNames="py-4" local-class="reference-tabs" }}
		{{#bp-button-group value=groupValue type="radio" onChange=(action (mut groupValue)) as |bg|}}
			{{#bg.button type="default" value='index'
				onClick=(action 'linkToRoute' 'index')}}产品竞品信息{{/bg.button}}
			{{#bg.button type="default" value='city-hospital'
				onClick=(action 'linkToRoute' 'city-hospital')}}城市医院信息{{/bg.button}}
			{{#bg.button type="default" value="member"
				onClick=(action 'linkToRoute' 'member')}}代表信息{{/bg.button}}
			{{#bg.button type="default" value="performance"
			onClick=(action 'linkToRoute' 'performance')}}业绩表现{{/bg.button}}
		{{/bp-button-group}}
	{{/bp-layout}}
	<div local-class="reference-content">
		{{#if (bp-eq groupValue 'index')}}
			<div local-class="products-container reference-content">
				<div local-class="trend" class="mb-4">
					<div local-class="trend-line" class="pt-3 pl-4">
						{{bp-line/tm
							eid="lineTrend"
							title="产品份额竞争趋势"
							subText='全国'
							unitYaxis='%'
							lineData=model.lineDataTm
							lineColor=model.lineColorTm}}
					</div>
				</div>
				{{#bp-layout tagName="h3" main="between" cross="center" local-class="title"
					classNames="mb-2 px-4 bg-white"}}
					<p local-class="main" class="m-0">药品详细信息</p>
					<p local-class="overview" class="m-0">
						<span class="mr-4">公司产品数量：{{model.selfGoodsConfigs.length}}</span>
						<span>竞品产品数量：{{model.competeGoodsConfigs.length}}</span>
					</p>
				{{/bp-layout}}
				{{#each model.selfGoodsConfigs as |item|}}
					{{product-info goods=item}}
				{{/each}}
				{{#each model.competeGoodsConfigs as |item|}}
					{{product-info goods=item}}
				{{/each}}
			</div>
		{{else if (bp-eq groupValue 'performance')}}
			{{#bp-layout main='between' local-class='result-container'}}
				<nav local-class='nav' class="nav flex-column mr-4 p-4 bg-white">
					{{#each model.navs as |nav|}}
						{{#link-to nav.route tagName='li' classNames='px-3'}}
							{{nav.name}}
						{{/link-to}}
					{{/each}}
				</nav>
				<div local-class='content'>
					{{outlet}}
				</div>
			{{/bp-layout}}
		{{else}}
			{{outlet}}
		{{/if}}
	</div>
{{/bp-layout}}
{{!-- {{#bp-layout direction="col" local-class="business-container"
	classNames="pt-4"}}

	{{#bp-layout main="between" local-class="overviews" classNames='mb-4'}}
		<div local-class="item">
			{{#bp-layout tagName="h2" cross="center" classNames="px-4 py-3"}}
				药品销售额指标
			{{/bp-layout}}
			<div class="p-4">
				{{#each indicatorsData as |indicator|}}
					{{#bp-layout main='between'}}
						<span local-class='keys'>
							{{indicator.name}}
						</span>
						<span local-class='values'>
							{{indicator.value}}*/{{indicator.total}}
						</span>
					{{/bp-layout}}
					{{#bp-progress local-class="progress" classNames="mb-4" as |p|}}
						{{p.bar value=indicator.value maxValue=indicator.total}}
					{{/bp-progress}}
				{{/each}}
			</div>
		</div>
		<div local-class="item" class="mx-2">
			{{#bp-layout tagName="h2" cross="center" classNames="px-4 py-3"}}
				总预算
			{{/bp-layout}}
			<div class="p-4">
				<p local-class="info" class="mb-4">
					{{format-number total.usedBudget}} /
					￥{{format-number model.resourceConfigManager.managerConfig.totalBudgets}}
				</p>
				<div local-class='circle-container'>
					{{bp-circle-double
						eid="totalBudget"
						circleData=budgetData
						circleSize=circleSize}}
				</div>
			</div>
		</div>
	{{/bp-layout}}
	{{#bp-layout local-class="hospitals"}}
		{{#bp-layout direction="col"
				local-class="hospitals-configs"
				classNames="mr-4 px-4 bg-white"}}
			{{#bp-layout tagName="h3" cross="center" main="between"
				local-class="title" classNames="m-0"}}
				<span>目标医院({{overallFilterData.length}})</span>
				{{#bp-dropdown widthSize="auto" local-class="dd-hosp" as |dd|}}
					{{#dd.button type="link-subtle" }}
						{{#if currentHospState.name}}
							<p>{{currentHospState.name}}</p>
						{{else}}
							请选择
						{{/if}}
						{{bp-icon icon='down'}}
					{{/dd.button}}
					{{#dd.menu as |menu|}}
						{{#each hospitalState as |hs|}}
							{{#menu.option value=hs
								onClick=(action (mut currentHospState))}}
								{{hs.name}}
							{{/menu.option}}
						{{/each}}
					{{/dd.menu}}
				{{/bp-dropdown}}
			{{/bp-layout}}
			{{#each overallFilterData as |dc|}}
				{{#link-to "page-scenario.index.hospital-config" dc.id
						activeClass="current-hospital"}}
					{{hospital-overall
							hospitalName=dc.hospitalConfig.hospital.name
							businessInputs=model.businessInputs
							overallFilterData=dc}}
				{{/link-to}}
			{{/each}}
		{{/bp-layout}}
		{{#bp-layout direction="col" local-class="hospital" class="mb-2"}}
			{{outlet}}
		{{/bp-layout}}
	{{/bp-layout}}
{{/bp-layout}}
{{#bp-modal
		open=warning.open
		position='center'
		onHidden=(action (mut warning.open) false) as |modal|}}
	{{#modal.header}}
		<h4 class="modal-title">
			{{warning.title}}
		</h4>
	{{/modal.header}}
	{{#modal.body classNames="p-4"}}
		<p class="desc m-0">
			{{warning.detail}}
		</p>
	{{/modal.body}}
	{{#modal.footer}}
		{{#bp-button type="primary" onClick=(action modal.close)}}好的{{/bp-button}}
	{{/modal.footer}}
{{/bp-modal}} --}}
