{{#bp-layout direction="col" local-class="reference-container" }}
	{{#bp-layout main="center" classNames="py-4" local-class="reference-tabs" }}
		{{#bp-button-group value=groupValue type="radio" onChange=(action (mut groupValue)) as |bg|}}
			{{#bg.button type="default" value='index'
				onClick=(action 'linkToRoute' 'index')}}产品竞品信息{{/bg.button}}
			{{#bg.button type="default" value='city-hospital'
				onClick=(action 'linkToRoute' 'city-hospital')}}城市医院信息{{/bg.button}}
			{{#bg.button type="default" value="member"
				onClick=(action 'linkToRoute' 'member')}}代表信息{{/bg.button}}
			{{#bg.button type="default" value="performance"
			onClick=(action 'linkToRoute' 'performance')}}业绩表现{{/bg.button}}
		{{/bp-button-group}}
	{{/bp-layout}}
	<div local-class="reference-content">
		{{#if (bp-eq groupValue 'index')}}
			<div local-class="products-container reference-content">
				<div local-class="trend" class="mb-4">
					<div local-class="trend-line" class="pt-3 pl-4">
						{{#bp-layout tagName="h3" main="between" cross="center" 
						local-class="title" classNames="m-0 px-4 bg-white"}}
							<p local-class="main" class="m-0">
								<span class="mr-2">产品份额竞争趋势</span>
								<span local-class="sub-title">地区</span>
							</p>
							{{#bp-layout cross="center" 
								local-class="choose-area" classNames="px-4"}}
								<span local-class="keys" class="mr-4">
									治疗领域
								</span>
								{{#bp-dropdown widthSize="auto" as |dd|}}
									{{#dd.button}}
										{{productTreatmentArea.treatmentArea}}
										{{bp-icon icon='down'}}
									{{/dd.button}}
									{{#dd.menu as |menu|}}
										{{#each model.treatmentArea as |area|}}
											{{#menu.option value=area
											onClick=(action (mut productTreatmentArea))}}
												{{area.treatmentArea}}
											{{/menu.option}}
										{{/each}}
									{{/dd.menu}}
								{{/bp-dropdown}}
							{{/bp-layout}}
						{{/bp-layout}}
						{{bp-line/tm
							eid="lineTrend"
							title=""
							subText=''
							unitYaxis='%'
							lineData=lineData
							lineColor=model.lineColorTm}}
					</div>
				</div>
				{{#bp-layout tagName="h3" main="between" cross="center" local-class="title"
					classNames="mb-2 px-4 bg-white"}}
					<p local-class="main" class="m-0">药品详细信息</p>
					<p local-class="overview" class="m-0">
						<span class="mr-4">公司产品数量：{{model.selfGoodsConfigs.length}}</span>
						<span>竞品产品数量：{{model.competeGoodsConfigs.length}}</span>
					</p>
				{{/bp-layout}}
				{{#each model.selfGoodsConfigs as |item|}}
					{{product-info goods=item}}
				{{/each}}
				{{#each model.competeGoodsConfigs as |item|}}
					{{product-info goods=item}}
				{{/each}}
			</div>
		{{else if (bp-eq groupValue 'performance')}}
			{{#bp-layout main='between' cross='center' local-class='output-container' classNames='mb-2 px-4 bg-white'}}
				<span>往期业绩表现</span>
				{{#bp-button onClick=(action 'outputData' 'business')}}导出数据{{/bp-button}}
			{{/bp-layout}}
			{{#bp-layout main='between' local-class='result-container'}}
				<nav local-class='nav' class="nav flex-column mr-4 p-4 bg-white">
					{{#each model.navs as |nav|}}
						{{#link-to nav.route tagName='li' classNames='px-3'}}
							{{nav.name}}
						{{/link-to}}
					{{/each}}
				</nav>
				<div local-class='content'>
					{{outlet}}
				</div>
			{{/bp-layout}}
		{{else}}
			{{outlet}}
		{{/if}}
	</div>
{{/bp-layout}}
{{#bp-modal
		open=notice 
		position='center'
		local-class='modal-welcome'
		backdropClose=false
		onHidden=(action (mut notice) false) as |modal|}}
	{{#modal.header tagName='h2'}}
		任务介绍（{{model.scenario.name}}）
	{{/modal.header}}
	{{#modal.body classNames="p-4"}}
		<h3 local-class='title' class="mb-4">
			请仔细阅读“参考信息”并通过“业务决策”完成以下任务
		</h3>
		{{#if (bp-eq model.scenario.phase 1)}}
			{{#bp-layout cross='center' classNames='mb-3'}}
				{{bp-icon icon="mission-1"}}
				<h4 local-class='title' class="ml-2 mb-0">
					完成区域划分
					<span>(只需在首个季度完成)</span></h4>
			{{/bp-layout}}
			<p local-class='content' class="mb-4">
				为所有医院分配代表，请确保每个代表都有负责的目标医院
			</p>
		{{/if}}
		{{#bp-layout cross='center' classNames='mb-3'}}
			{{#if (bp-eq model.scenario.phase 1)}}
				{{bp-icon icon="mission-2"}}
			{{else}}
				{{bp-icon icon="mission-1"}}
			{{/if}}
			<h4 local-class='title' class="ml-2 mb-0">
				分配业务指标
			</h4>
		{{/bp-layout}}
		{{#bp-layout direction='col' local-class='content' }}
			{{#each model.resourceConfigManager.managerConfig.managerGoodsConfigs as |mgc|}}
				{{#bp-layout cross='center' classNames='mb-3'}}
					{{bp-icon icon='pill'}}
					<span local-class='keys' class="ml-2 mr-4">
						{{mgc.goodsConfig.productConfig.product.name}}
					</span>
					<span local-class='values'>
						{{mgc.goodsConfig.productConfig.priceType}}{{format-number mgc.goodsSalesTarget}}
					</span>
				{{/bp-layout}}
			{{/each}}
		{{/bp-layout}}
		{{#bp-layout cross='center' classNames='mb-3'}}
			{{#if (bp-eq model.scenario.phase 1)}}
				{{bp-icon icon="mission-3"}}
			{{else}}
				{{bp-icon icon="mission-2"}}
			{{/if}}
			<h4 local-class='title' class="ml-2 mb-0">
				分配预算
			</h4>
		{{/bp-layout}}
		{{#bp-layout direction='col' local-class='content'}}
			{{#each model.resourceConfigManager.managerConfig.managerGoodsConfigs as |mgc|}}
				{{#bp-layout cross='center' classNames='mb-3'}}
					{{bp-icon icon='pill'}}
					<span local-class='keys' class="ml-2 mr-4">{{mgc.goodsConfig.productConfig.product.name}}</span>
					<span local-class='values'>
						{{mgc.goodsConfig.productConfig.priceType}}{{format-number mgc.goodsSalesBudgets}}
					</span>
				{{/bp-layout}}
			{{/each}}
		{{/bp-layout}}
	{{/modal.body}}
{{/bp-modal}}
