{{#bp-layout direction="col" local-class="business-container" classNames="pt-4" }}
	{{#bp-layout main="between" classNames='mb-4' }}
		<div local-class="item">
			{{#bp-layout tagName="h3" cross="center" local-class='title' classNames="m-0 px-4" }}
				药品销售额指标
			{{/bp-layout}}
			<div class="px-4 pt-4 pb-0">
				{{#each indicatorsData as |indicator index|}}
					{{#each model.resourceConfigManager.managerConfig.managerGoodsConfigs as |managerGoodsConfig|}}
						{{#if (bp-eq indicator.id managerGoodsConfig.goodsConfig.productConfig.product.id)}}
							{{#bp-layout tagName='p' main='between' classNames='mb-1' }}
								<span local-class='keys'>
									{{indicator.name}}
								</span>
								<span local-class='values'>
									{{indicator.priceType}}{{format-number indicator.value}}/{{managerGoodsConfig.goodsConfig.productConfig.priceType}}{{format-number managerGoodsConfig.goodsSalesTarget}}
								</span>
							{{/bp-layout}}
							{{#bp-progress local-class="progress"  classNames="mb-4" as |p|}}
								{{p.bar value=indicator.value 
									maxValue=managerGoodsConfig.goodsSalesTarget 
									id=(string-concat 'bar' index)
									local-class='bar'}}
							{{/bp-progress}}
						{{/if}}
					{{/each}}
				{{/each}}
			</div>
		</div>
		<div local-class="item" class="mx-2">
			{{#bp-layout tagName="h3" cross="center" local-class='title' classNames="m-0 px-4" }}
				药品预算指标
			{{/bp-layout}}
			<div class="px-4 pt-4 pb-0">
				{{#each budgetData as |budget|}}
					{{#each model.resourceConfigManager.managerConfig.managerGoodsConfigs as |managerGoodsConfig|}}
						{{#if (bp-eq budget.id managerGoodsConfig.goodsConfig.productConfig.product.id)}}
							{{#bp-layout main='between' classNames='mb-1' }}
								<span local-class='keys'>
									{{budget.name}}
								</span>
								<span local-class='values'>
									{{budget.priceType}}{{format-number budget.value}}/{{managerGoodsConfig.productConfig.priceType}}{{format-number managerGoodsConfig.goodsSalesBudgets}}
								</span>
							{{/bp-layout}}
							{{#bp-progress local-class="progress" classNames="mb-4" as |p|}}
								{{p.bar value=budget.value maxValue=managerGoodsConfig.goodsSalesBudgets local-class='bar'}}
							{{/bp-progress}}
						{{/if}}
					{{/each}}
				{{/each}}
			</div>
		</div>
	{{/bp-layout}}
	{{#bp-layout }}
		{{#bp-layout direction="col" local-class="hospitals-configs" classNames="mr-4 px-4 bg-white" }}
			{{#bp-layout tagName="h3" cross="center" main="between" 
				local-class="title" classNames="m-0 px-4 bg-white" }}
				<span>目标医院({{overallFilterData.length}})</span>
				{{#bp-dropdown widthSize="auto" local-class="dd-hosp" as |dd|}}
					{{#dd.button type="link-subtle" }}
						{{#if currentHospState.name}}
							<p>{{currentHospState.name}}</p>
						{{else}}
							请选择
						{{/if}}
						{{bp-icon icon='down'}}
					{{/dd.button}}
					{{#dd.menu as |menu|}}
						{{#each hospitalState as |hs|}}
							{{#menu.option value=hs onClick=(action (mut currentHospState))}}
								{{hs.name}}
							{{/menu.option}}
						{{/each}}
					{{/dd.menu}}
				{{/bp-dropdown}}
			{{/bp-layout}}
			<div local-class='link-container'>
				{{#each overallFilterData as |dc|}}
					{{#link-to "page-scenario.business.hospitalConfig" dc.id activeClass="current-hospital" }}
						{{hospital-overall
							businessInputs=model.businessInputs
							salesConfigs=model.salesConfigs
							overallFilterData=dc}}
					{{/link-to}}
				{{/each}}
			</div>
		{{/bp-layout}}
		{{#bp-layout direction="col" local-class="hospital" class="mb-2" }}
			{{outlet}}
		{{/bp-layout}}
	{{/bp-layout}}
{{/bp-layout}}
{{!-- 总业务指标/总预算/总会议名额 超额提醒 --}}
{{#bp-modal open=warning.open 
	position='center' 
	onHidden=(action (mut warning.open) false) as |modal|}}
	{{#modal.header}}
		<h4 class="modal-title">
			{{warning.title}}
		</h4>
	{{/modal.header}}
	{{#modal.body classNames="p-4" }}
		<p class="desc m-0">
			{{warning.detail}}
		</p>
	{{/modal.body}}
	{{#modal.footer}}
		{{#bp-button type="primary" onClick=(action modal.close)}}好的{{/bp-button}}
		{{!-- {{#bp-button type="success" onClick=(action modal.submit)}}Save{{/bp-button}} --}}
	{{/modal.footer}}
{{/bp-modal}}