{{#bp-layout direction="col" local-class="page-report" 
	classNames="p-4"}}
	{{#bp-page-header class="mb-4" local-class='report-header' as |ph|}}
		{{#ph.body as |body|}}
			{{#body.left as |left|}}
				{{#left.item}}
					测试综合表现
				{{/left.item}}
				{{#left.item}}
					日期：{{model.endTime}}
					{{!-- 用时：50min --}}
					{{!-- {{model.scenario.name}} --}}
				{{/left.item}}
			{{/body.left}}
			{{#body.right}}
				{{#bp-button onClick=(action 'outputData' 'assessment') class='mr-1'}}
					导出测试数据
				{{/bp-button}}
				{{!-- {{#bp-button onClick=(action 'checkResult')}}
					查看执行结果报告
				{{/bp-button}} --}}
			{{/body.right}}
		{{/ph.body}}
	{{/bp-page-header}}
	{{#bp-layout direction='col' class='bg-white p-4 mb-2' local-class='sum-up-performance'}}
		<h2 local-class="card-title" class='bg-white'>综合表现</h2>
		{{#bp-layout local-class='sum-up-content' cross='top'}}
			{{#bp-layout direction='col' cross='center' local-class='level' classNames='mr-4'}}
				<img src={{model.assessmentReports.lastObject.simplifyResult.levelConfig.level.image.img}}
					alt={{model.assessmentReports.lastObject.simplifyResult.levelConfig.level.describe}} class="mb-4"
					local-class='level-img'>
				{{!-- {{#if (bp-eq model.assessmentReports.lastObject.simplifyResult.levelConfig.level.code 1)}}
					<p local-class="img-title">S级</p>
				{{else if (bp-eq model.assessmentReports.lastObject.simplifyResult.levelConfig.level.code 2)}}
					<p local-class="img-title">A级</p>
				{{else if (bp-eq model.assessmentReports.lastObject.simplifyResult.levelConfig.level.code 3)}}
					<p local-class="img-title">B级</p>
				{{else}}
					<p local-class="img-title">未知级别</p>
				{{/if}} --}}
				<p local-class="img-title">
					{{model.assessmentReports.lastObject.simplifyResult.levelConfig.level.describe}}
				</p>
			{{/bp-layout}}
			{{#bp-layout direction='col' class='pt-4' local-class='level-content'}}
				<p local-class='level-content-title' class="mb-3">等级评价</p>
				<p local-class='level-contetn-text'>
					{{model.assessmentReports.lastObject.simplifyResult.levelConfig.evaluation.value}}
				</p>
			{{/bp-layout}}
		{{/bp-layout}}
	{{/bp-layout}}
	{{#bp-layout direction='col' class='bg-white p-4 mb-2' local-class='result'}}
		<h2 local-class='result-title' class="mb-3">指标达成结果</h2>
		{{#bp-layout direction='row'  main='between' cross='center' local-class='result-list'}}
			<p local-class='result-sub-title'>总达成率</p>
			<p local-class='result-sub-title'>
				{{bp-percent model.assessmentReports.lastObject.simplifyResult.totalQuotaAchievement 2}}</p>
		{{/bp-layout}}
		{{#each model.assessmentReports.lastObject.simplifyResult.scenarioResults as |scResult|}}
			{{#bp-layout direction='row' main='between' cross='center' local-class='result-list'}}
				<p local-class='result-list-text'>{{scResult.scenario.name}}</p>
				<p local-class='result-list-text'>{{bp-percent scResult.quotaAchievement 2}}</p>
			{{/bp-layout}}
		{{/each}}
	{{/bp-layout}}
{{/bp-layout}}