{{#bp-layout direction="col" local-class="page-scenario" 
	classNames="p-4"}}
	{{#bp-page-header class="mb-4" local-class='scenario-header' as |ph|}}
		{{#ph.body as |body|}}
			{{#body.left as |left|}}
				{{#left.item}}
					{{model.proposal.name}}
				{{/left.item}}
				{{#left.item}}
					{{model.scenario.name}}
					{{!-- 关卡进度 {{model.scenario.phase}} / {{model.proposal.totalPhase}} --}}
				{{/left.item}}
			{{/body.left}}
			{{#body.right}}
				{{#if testBtn}}
					{{#bp-button classNames="mr-1" onClick=(action 'testResult')}}
						testResult
					{{/bp-button}}
					{{#bp-button type='primary' onClick=(action 'confirmSubmit')}}
						非验证提交执行
					{{/bp-button}}
					{{#bp-button type='primary' disabled=true}}
						{{xmppMessage.msg}}
					{{/bp-button}}
				{{/if}}
				{{#bp-button classNames="mr-1" onClick=(action 'saveInputs')}}保存{{/bp-button}}
				{{#bp-button type='primary' onClick=(action 'submit') }}提交执行{{/bp-button}}
			{{/body.right}}
		{{/ph.body}}
	{{/bp-page-header}}
	{{#bp-tabs local-class="tabs-container" as |tabs|}}
		{{#tabs.tablist as |list|}}
			<li class="nav-item">
				{{#list.link-to 'page-scenario.index' 
					classNames='nav-link'  }}
					参考信息{{/list.link-to}}
			</li>
			<li class="nav-item">
				{{#list.link-to 'page-scenario.business' 
					classNames='nav-link'  }}
					业务决策{{/list.link-to}}
			</li>
			<li class="nav-item">
				{{#list.link-to 'page-scenario.decision-review' 
					classNames='nav-link' }}
					决策回顾
				{{/list.link-to}}
			</li>
		{{/tabs.tablist}}
		{{outlet}}
	{{/bp-tabs}}
{{/bp-layout}}
{{#bp-modal
		open=warning.open 
		position='center'
		onSubmit=(action "confirmSubmit") 
 		onHidden=(action (mut warning.open) false) as |modal|}}
	{{#modal.header}}
		<h4 class="modal-title">
			{{warning.title}}
		</h4>
	{{/modal.header}}
	{{#modal.body}}
		<p class="desc">
			{{warning.detail}}
		</p>
	{{/modal.body}}
	{{#modal.footer}}
		{{#unless confirmSubmit}}
			{{#bp-button type="primary" onClick=(action modal.close)}}好的{{/bp-button}}
		{{else}}
			{{#bp-button type="primary" onClick=(action modal.close)}}取消{{/bp-button}}
			{{#bp-button type="primary" onClick=(action modal.submit)}}确定提交{{/bp-button}}
		{{/unless}}
	{{/modal.footer}}
{{/bp-modal}}
{{#bp-modal
		open=notice 
		position='center'
		local-class='modal-welcome'
		backdropClose=false
		onHidden=(action (mut notice) false) as |modal|}}
	{{#modal.header tagName='h2'}}
		任务介绍（{{model.scenario.name}}）
	{{/modal.header}}
	{{#modal.body classNames="p-4"}}
		<h3 local-class='title' class="mb-4">
			请仔细阅读“参考信息”并通过“业务决策”完成以下任务
		</h3>
		{{#if (bp-eq model.scenario.phase 1)}}
			{{#bp-layout cross='center' classNames='mb-3'}}
				{{bp-icon icon="mission-1"}}
				<h4 local-class='title' class="ml-2 mb-0">
					完成区域划分
					<span>(只需在首个季度完成)</span></h4>
			{{/bp-layout}}
			<p local-class='content' class="mb-4">
				为所有医院分配代表，请确保每个代表都有负责的目标医院
			</p>
		{{/if}}
		{{#bp-layout cross='center' classNames='mb-3'}}
			{{#if (bp-eq model.scenario.phase 1)}}
				{{bp-icon icon="mission-2"}}
			{{else}}
				{{bp-icon icon="mission-1"}}
			{{/if}}
			<h4 local-class='title' class="ml-2 mb-0">
				分配业务指标
			</h4>
		{{/bp-layout}}
		{{#bp-layout direction='col' local-class='content' }}
			{{#each model.resourceConfigManager.managerConfig.managerGoodsConfigs as |mgc|}}
				{{#bp-layout cross='center' classNames='mb-3'}}
					{{bp-icon icon='pill'}}
					<span local-class='keys' class="ml-2 mr-4">
						{{mgc.goodsConfig.productConfig.product.name}}
					</span>
					<span local-class='values'>
						{{mgc.goodsConfig.productConfig.priceType}}{{format-number mgc.goodsSalesTarget}}
					</span>
				{{/bp-layout}}
			{{/each}}
		{{/bp-layout}}
		{{#bp-layout cross='center' classNames='mb-3'}}
			{{#if (bp-eq model.scenario.phase 1)}}
				{{bp-icon icon="mission-3"}}
			{{else}}
				{{bp-icon icon="mission-2"}}
			{{/if}}
			<h4 local-class='title' class="ml-2 mb-0">
				分配预算
			</h4>
		{{/bp-layout}}
		{{#bp-layout direction='col' local-class='content'}}
			{{#each model.resourceConfigManager.managerConfig.managerGoodsConfigs as |mgc|}}
				{{#bp-layout cross='center' classNames='mb-3'}}
					{{bp-icon icon='pill'}}
					<span local-class='keys' class="ml-2 mr-4">{{mgc.goodsConfig.productConfig.product.name}}</span>
					<span local-class='values'>
						{{mgc.goodsConfig.productConfig.priceType}}{{format-number mgc.goodsSalesBudgets}}
					</span>
				{{/bp-layout}}
			{{/each}}
		{{/bp-layout}}
	{{/modal.body}}
{{/bp-modal}}
{{#bp-modal
		open=loading 
		position='center'
		local-class='modal-loading'
		backdropClose=false
		onHidden=(action (mut loading) false) as |modal|}}
	{{!-- {{#modal.header tagName='h2'}}
		任务介绍（{{model.scenario.name}}）
	{{/modal.header}} --}}
	{{#modal.body classNames="p-4"}}
		<div local-class="loading">
			<p local-class="text">PHARBERS</p>
		</div>
	{{/modal.body}}
{{/bp-modal}}