{{#bp-layout local-class="overview" classNames="mb-4"}}
	{{#bp-layout direction="col" local-class="item" classNames="mr-2 bg-white"}}
		{{#bp-layout tagName="h2" cross="center" 
			local-class="title" classNames="px-4"}}
			地区简介
		{{/bp-layout}}
		{{#bp-layout tagName="p" local-class="content"
			classNames="p-4"}}
			对区域的一段描述，该地区为三个城市分别是城市A、城市B和城市C…….
		{{/bp-layout}}
	{{/bp-layout}}
	{{#bp-layout direction="col" local-class="item" classNames="bg-white"}}
		{{#bp-layout tagName="h2" cross="center"
			local-class="title"  classNames="px-4"}}
			各市医院数分布
		{{/bp-layout}}
		{{#bp-layout local-class="content"
			classNames="p-4"}}
			<table class="table">
				<thead>
					<th>城市</th>
					<th>三级</th>
					<th>二级</th>
					<th>一级</th>
				</thead>
				<tbody>
					{{#each model.citiesHospital as |ch|}}
						<tr>
							<td>{{ch.name}}</td>
							<td>{{ch.third}}</td>
							<td>{{ch.second}}</td>
							<td>{{ch.first}}</td>
						</tr>
					{{/each}}
					<tr>
						<td>总计</td>
						<td>**</td>
						<td>*</td>
						<td>*</td>
					</tr>
					<tr></tr>
				</tbody>
			</table>
		{{/bp-layout}}
	{{/bp-layout}}
{{/bp-layout}}
{{#bp-layout local-class="cities-container"}}
	{{#bp-layout tagName="ul" direction="col" local-class="nav" 
				classNames="mr-4 p-4 bg-white"}}
		{{#each model.citiesHospital as |ch index|}}
			{{#bp-layout tagName="li" cross="center" 
					local-class=(if (bp-eq salesGroupValue index) "active")
					classNames="px-4"}}
				<span {{action 'changeSalesValue' index}}>{{ch.name}}</span>
			{{/bp-layout}}
		{{/each}}
	{{/bp-layout}}
	{{#bp-layout local-class="content"}}
		{{#bp-layout direction="col" local-class="city-infos"}}
			{{#bp-layout tagName="h3" main="between" cross="center " 
			 	local-class="title" classNames="bg-white"}}
				<span local-class="main">{{tmpCityInfo.name}}*</span>
				<span local-class="desc">该城市共有医院 {{tmpCityInfo.destConfigs.length}}</span>
			{{/bp-layout}}
			{{#bp-layout classNames="mb-4 p-4 bg-white"}}
				{{#bp-layout direction="col"}}
					<p local-class="keys">城市类型</p>
					<p local-class="keys">城市战略定位</p>
					<p local-class="keys">治疗领域患者占比</p>
					<p local-class="keys">该城市下共有医院数量</p>
				{{/bp-layout}}
				{{#bp-layout direction="col"}}
					<p local-class="values">地级市/非地级市</p>
					<p local-class="values">核心城市/外围城市</p>
					<p local-class="values">80%</p>
					<p local-class="values">55133</p>
				{{/bp-layout}}
			{{/bp-layout}}
			{{#each tmpCityInfo.destConfigs as |dc|}}
				{{item}}
			{{/each}}
		{{/bp-layout}}
	{{/bp-layout}}