<div local-class="hospital-box" class="hospital-box mb-3 p-2">
	{{#each businessInputs as |bi|}}
		{{#if (bp-eq bi.destConfig.id overallFilterData.id)}}
			{{#bp-layout tagName="h4" local-class="title" classNames="m-0"}}
				{{bi.destConfig.hospitalConfig.hospital.name}}
				{{hospital-state bi.isFinish classNames="ml-1"}}
			{{/bp-layout}}
			{{#bp-layout classNames="pb-2 pt-3"}}
				{{#bp-layout classNames="mr-4"}}
					{{#bp-layout direction="col" 
							local-class="keys" classNames="mr-2"}}
						<span class="mb-1">患者数量</span>
						<span>销售指标</span>
					{{/bp-layout}}
					{{#bp-layout direction="col" local-class="values"}}
						<span class="mb-1">
							{{#if (bp-eq overallFilterData.hospitalConfig.bedNumber '')}}
								-
							{{else}}
								*{{format-number overallFilterData.hospitalConfig.bedNumber}}*
							{{/if}}
						</span>
						<span>
							{{#unless (bp-eq bi.totalSalesTarget '')}}
								￥{{format-number bi.totalSalesTarget}}
							{{else}}
								-
							{{/unless}}
						</span>
					{{/bp-layout}}
				{{/bp-layout}}
				{{#bp-layout}}
					{{#bp-layout direction="col" 
							local-class="keys" classNames="mr-2"}}
						<span class="mb-1">代表名称</span>
						<span>预算分配</span>
					{{/bp-layout}}
					{{#bp-layout direction="col" local-class="values"}}
						<span class="mb-1">
							{{#unless (bp-eq bi.resourceConfigId '')}}
								{{bi.resourceConfig.representativeConfig.representative.name}}
							{{else}}
								-
							{{/unless}}
						</span>
						<span>
							{{#unless (bp-eq bi.totalBudget '')}}
								￥{{format-number bi.totalBudget}}
							{{else}}
								-
							{{/unless}}
						</span>
					{{/bp-layout}}
				{{/bp-layout}}
			{{/bp-layout}}
		{{/if}}
	{{/each}}
</div>
<div class="dropdown-divider"></div>