{{#bp-layout tagName="h4" main='between' cross="center"
	local-class="title" classNames="px-4  bg-white"}}
	{{model.destConfig.hospitalConfig.hospital.name}}
	{{#bp-button onClick=(action 'reInput')}}重置{{/bp-button}}
{{/bp-layout}}
{{#bp-layout direction="col" classNames="mb-2 bg-white"}}
	{{#bp-layout tagName="h5" cross="center" 
			local-class="title" classNames="px-4 m-0"}}
		代表和时间分配
	{{/bp-layout}}
	{{#bp-layout direction="col" classNames="p-4"}}
		{{#unless model.notFirstPhase}}
			<p local-class="description" class="mb-4">
				第一周期提交后，后续周期中将不可更改医院代表，只能进行药品相关资源设定
			</p>
		{{/unless}}
		{{#bp-layout}}
			{{!-- bi.resourceConfig.representativeConfig.representative.name --}}
			{{#if businessinput.resourceConfig.representativeConfig.representative.images.firstObject.img}}
				<img src={{businessinput.resourceConfig.representativeConfig.representative.images.firstObject.img}}
					local-class="avatar" class="mr-4 rounded-circle" width='88' height='88' alt="">
			{{else}}
				<img src="/assets/images/img_placeholder.png" width='88' height="88" local-class="avatar" alt=""
					class="mr-4 rounded-circle">
			{{/if}}
			{{#bp-layout direction="col"}}
				<p local-class="title" class="mb-3">医院代表</p>
				{{#bp-dropdown widthSize='auto'
					local-class="dd-representative" classNames="mb-4" as |dd|}}
					{{#dd.button disabled=model.notFirstPhase}}
						{{#if businessinput.resourceConfig.id}}
							<p>{{businessinput.resourceConfig.representativeConfig.representative.name}}</p>
						{{else}}
							请分配代表
						{{/if}}
						{{bp-icon icon='down'}}
					{{/dd.button}}
					{{#dd.menu as |menu|}}
						{{#each model.repConfs as |rc|}}
							{{#if (bp-eq rc.resourceType 1)}}
								{{#menu.option value=rc 
									onClick=(action 'changedRep')
									local-class="representative-info"}}
									{{#bp-layout cross="center"}}
										{{#if rc.representativeConfig.representative.images.firstObject.img}}
											<img width="24" height="24"
												src={{rc.representativeConfig.representative.images.firstObject.img}}
												alt={{rc.representativeConfig.representative.name}}
												class="mr-2 rounded-circle">
										{{else}}
											<img width="24" height="24" src="/assets/images/img_placeholder.png" alt=''
												class="mr-2 rounded-circle">
										{{/if}}
										<span local-class="name" class="mr-2">
											{{rc.representativeConfig.representative.name}}
										</span>
									{{/bp-layout}}
								{{/menu.option}}
							{{/if}}
						{{/each}}
					{{/dd.menu}}
				{{/bp-dropdown}}
			{{/bp-layout}}
		{{/bp-layout}}
	{{/bp-layout}}
{{/bp-layout}}
{{#bp-layout tagName="h5" cross="center" local-class=(if businessinput.resourceConfig.representativeConfig.representative.id 'title' 'title disabled')
	classNames="m-0 px-4 bg-white "}}
	药品相关资源分配
{{/bp-layout}}
<table local-class={{if businessinput.resourceConfig.representativeConfig.representative 'prod' 'prod disabled'}}
	class="table mb-2 bg-white">
	<thead>
		<tr>
			<th class="border-0 pb-2 pl-4 text-left">产品名称</th>
			<th class="border-0 pb-2 pl-2 text-center">治疗领域</th>
			<th class="border-0 pb-2 pl-2 text-center">药品准入情况</th>
			<th class="border-0 pb-2 pl-2 text-right">患者数量</th>
			<th class="border-0 pb-2 pl-2 text-right">上季度销售额</th>
			<th class="border-0 pb-2 pl-2 text-right">销售指标设定</th>
			<th class="border-0 pb-2 pl-2 text-right">预算设定</th>
		</tr>
	</thead>
	<tbody>
		{{#each model.salesConfigs as |sc|}}
			<tr class="mx-0">
				<td class="pl-4 border-0 text-left">
					{{sc.goodsConfig.productConfig.product.name}}
				</td>
				<td class="pl-2 border-0 text-center">
					{{sc.goodsConfig.productConfig.treatmentArea}}
				</td>
				<td class="pl-2 border-0 text-center">
					{{#each lastSales as |item|}}
						{{#if (bp-eq item.goodsConfig.productConfig.product.id sc.goodsConfig.productConfig.product.id)}}
							{{item.report.drugEntranceInfo}}
						{{/if}}
					{{/each}}
				</td>
				<td class="pl-2 border-0  text-right">
					{{format-number sc.patientCount}}
				</td>
				<td class="pl-2 border-0 text-right">
					{{#each lastSales as |item|}}
						{{#if (bp-eq item.goodsConfig.productConfig.product.id sc.goodsConfig.productConfig.product.id)}}
							{{item.goodsConfig.productConfig.priceType}}
							{{#if item.report.sales}}
								{{format-number item.report.sales 0}}
							{{else}}
								0
							{{/if}}
						{{/if}}
					{{/each}}
				</td>
				<td class="pl-2 border-0 text-right">
					{{#each model.goodsInputs as |goodsInput|}}
						{{#if (bp-eq sc.goodsConfig.productConfig.product.id goodsInput.goodsConfig.productConfig.product.id)}}
							{{!-- {{bp-input block=true widthSize="auto" 
								value=goodsInput.salesTarget
								disabled=(not businessinput.resourceConfig.representativeConfig.representative.id)
								local-class="input-prepend input-money"}} --}}
							{{bp-input/number block=true widthSize="auto" 
								onWarning=(action 'numberWarning')
								value=goodsInput.salesTarget
								disabled=(not businessinput.resourceConfig.representativeConfig.representative.id)
								local-class="input-prepend input-money"}}
							{{!-- <p class="mt-2 mb-0 text-center" local-class="percent">
									{{IndicatorAllocationPercent.percent}}%
								</p> --}}
						{{/if}}
					{{/each}}
				</td>
				<td class="pl-2 border-0 text-right">
					{{#each model.goodsInputs as |goodsInput|}}
						{{#if (bp-eq sc.goodsConfig.productConfig.product.id goodsInput.goodsConfig.productConfig.product.id)}}
							{{bp-input block=true widthSize="auto"
									value=goodsInput.budget
									disabled=(not businessinput.resourceConfig.representativeConfig.representative.id)
									local-class="input-prepend input-money"}}
							{{!-- <p class="mt-2 mb-0 text-center" local-class="percent">
									{{budgetPercent.percent}}%
								</p> --}}
						{{/if}}
					{{/each}}
				</td>
			</tr>
		{{/each}}
	</tbody>
</table>
{{#bp-modal open=warning.open 
	position='center' 
	onHidden=(action (mut warning.open) false) as |modal|}}
	{{#modal.header}}
		<h4 class="modal-title">
			{{warning.title}}
		</h4>
	{{/modal.header}}
	{{#modal.body classNames="p-4" }}
		<p class="desc m-0">
			{{warning.detail}}
		</p>
	{{/modal.body}}
	{{#modal.footer}}
		{{#bp-button type="primary" onClick=(action modal.close)}}好的{{/bp-button}}
		{{!-- {{#bp-button type="success" onClick=(action modal.submit)}}Save{{/bp-button}} --}}
	{{/modal.footer}}
{{/bp-modal}}