{{#bp-layout tagName="h3" cross="center" local-class="title" class="m-0 px-4" }}
	<span class="mr-2" local-class="icon" {{action 'showContent'}}>
		{{bp-icon icon=icon}}
	</span>
	{{hospitalConfig.hospital.name}}
{{/bp-layout}}
{{#bs-collapse collapsed=showContent}}
	{{#bp-layout main="between" local-class="content"}}
		{{#bp-layout direction="col" main="between" local-class="infos"}}
			{{#bp-layout main="between" local-class="basic"
				classNames="px-4 py-3"}}
				{{#each hospitalConfig.hospital.images as |imgRcs index|}}
					{{#if (bp-eq index 0)}}
						<img src={{imgRcs.img}} alt={{hospitalConfig.hospital.name}} class="mr-4">
					{{/if}}
				{{/each}}
				<div local-class="properties">
					{{#bp-layout tagName="p" classNames="mb-3"}}
						<span class="mr-3">医院类型</span>
						<span>
							{{hospitalConfig.hospital.hospitalCategory}}
						</span>
					{{/bp-layout}}
					{{#bp-layout tagName="p" classNames="mb-3"}}
						<span class="mr-3">医院等级</span>
						<span>
							{{hospitalConfig.hospital.hospitalLevel}}
						</span>
					{{/bp-layout}}
					{{#bp-layout tagName="p" classNames="mb-3"}}
						<span class="mr-3">医生数量</span>
						<span>
							{{format-number hospitalConfig.doctorNumber}}
						</span>
					{{/bp-layout}}
					{{#bp-layout tagName="p" classNames="mb-3"}}
						<span class="mr-3">病床数量</span>
						<span>{{format-number hospitalConfig.bedNumber}}</span>
					{{/bp-layout}}
					{{#bp-layout tagName="p"  classNames="mb-0"}}
						<span class="mr-3">自费病人比例</span>
						<span>{{hospitalConfig.selfCostRatio}}</span>
					{{/bp-layout}}
				</div>
			{{/bp-layout}}
		{{/bp-layout}}
		{{#bp-layout direction="col" local-class="medicine" classNames="px-4 py-3"}}
			<h4 local-class="title" class="mb-3">医院药况</h4>
			<table class="table pb-4">
				<thead>
					<th>药品名</th>
					<th>治疗领域</th>
					<th>药品准入状态</th>
					<th>患者数量</th>
				</thead>
				<tbody>
					{{#each currentSalesConfigs as | salesConfig|}}
						<tr>
							<td class="py-1">{{salesConfig.goodsConfig.productConfig.product.name}}</td>
							<td class="py-1">{{salesConfig.goodsConfig.productConfig.treatmentArea }}</td>
							<td class="py-1">{{salesConfig.drugEntranceInfo}}</td>
							<td class="py-1">{{format-number salesConfig.patientCount}}</td>
						</tr>
					{{/each}}
				</tbody>
			</table>
			{{#bp-layout direction="col" classNames="pt-4 pb-4"}}
				<h4 local-class="title" class="mb-3">医院动态</h4>
				<p local-class="desc" class="m-0">
					2019年该医院将迎来百年庆典，届时会更换该医院医学研究部领导姜萌
				</p>
			{{/bp-layout}}
		{{/bp-layout}}
	{{/bp-layout}}
{{/bs-collapse}}
