{{#if showNavbar}}
	{{#bp-layout tagName="header" main="between" cross='center'
		local-class="header" classNames="bg-white px-4"}}
		{{!-- {{#link-to "application" tagName="p"  classNames="m-0"}} --}}
		<p class="m-0" {{action 'endMission'}}>
			<img src="/assets/images/logo_tmist.png" alt="tmist logo" class="mr-3">
		</p>
		{{!-- {{/link-to}} --}}
		{{#if (bp-eq testProgress 1)}}
			{{#bp-button onClick=(action "endMission")}}结束任务{{/bp-button}}
		{{else if (bp-eq testProgress 2)}}
			<span local-class="button-area">
				{{!-- {{#bp-button type="subtle"  classNames="mr-3"
					onClick=(action (mut rules) true)}}
					规则介绍
				{{/bp-button}} --}}
				{{#bp-button onClick=(action "saveInputEndMission")}}结束任务{{/bp-button}}
			</span>
		{{else if (bp-eq testProgress 3)}}
			<span local-class="button-area">
				{{!-- {{#bp-button type="subtle"  classNames="mr-3"
					onClick=(action (mut rules) true)}}
					规则介绍
				{{/bp-button}} --}}
				{{#bp-button onClick=(action "resultPageEndMission")}}结束任务{{/bp-button}}
			</span>
		{{else}}
			{{#bp-dropdown widthSize="auto"
			local-class="dd-medicines dd-area" as |dd|}}
				{{#dd.button tagName="span" classNames="bg-white"}}
					{{bp-icon icon='nav-person'}}
				{{/dd.button}}
				{{#dd.menu align="right" as |menu|}}
					{{#menu.option onClick=(action 'logout')}}
						账号设置
					{{/menu.option}}
					{{#menu.option onClick=(action 'logout')}}
						退出账号
					{{/menu.option}}
				{{/dd.menu}}
			{{/bp-dropdown}}
		{{/if}}
	{{/bp-layout}}
{{/if}}
<section local-class={{if showNavbar 'container' 'container-height'}}>
	{{outlet}}
</section>
{{!-- {{#bp-modal
		open=rules 
		position='center'
		onHidden=(action (mut rules) false) as |modal|}}
	{{#modal.header classNames='px-4 py-3 border-0'}}
		规则介绍
	{{/modal.header}}
	{{#modal.body classNames="p-4"}}
		<p class="mb-3 desc">
			1. 经理需完成 业务决策 后才能提交任务。
		</p>
		<p class="mb-3 desc">
			2. 第一周期，经理需为每个医院分配代表，之后周期代表将固定不变更。
		</p>
		<p class="mb-3 desc">
			3.必须向每一家医院分配销售额指标和预算，且总销售指标需要被达成，总预算需要被用尽。（若不分配资源可设定数值为0）。
		</p>
		<p class="mb-3 desc">
			4.每一周期决策提交后将不可再修改，当期决策可在“决策回顾”中查看。
		</p>
	{{/modal.body}}
{{/bp-modal}} --}}
{{#bp-modal
		open=exitMission 
		position='center'
		onHidden=(action (mut exitMission) false) 
		local-class="bp-modal" as |modal|}}
	{{#modal.header classNames='px-4 py-3 border-0'}}
		提示
	{{/modal.header}}
	{{#modal.body classNames="p-4"}}
		<p class="mb-3 desc">
			您当前的决策将被保存，等您继续部署。您确定要结束任务吗？
		</p>
	{{/modal.body}}
	{{#modal.footer}}
		{{#bp-button type="link" onClick=(action modal.close)}}取消{{/bp-button}}
		{{#bp-button type="primary" onClick=(action 'saveInputs')}}确定{{/bp-button}}
	{{/modal.footer}}
{{/bp-modal}}