{{#bp-layout local-class="overview" classNames="mb-4"}}
	{{#bp-layout direction="col" local-class="item" classNames="mr-2 bg-white"}}
		{{#bp-layout tagName="h2" cross="center" 
			local-class="title" classNames="px-4 pt-3"}}
			地区简介
		{{/bp-layout}}
		{{#bp-layout tagName="p" local-class="content"
			classNames="p-4"}}
			{{model.destConfigRegion.regionConfig.region.describe}}
		{{/bp-layout}}
	{{/bp-layout}}
	{{#bp-layout direction="col" local-class="item" classNames="bg-white"}}
		{{#bp-layout tagName="h2" cross="center"
			local-class="title"  classNames="px-4 pt-3"}}
			各市医院数分布
		{{/bp-layout}}
		{{#bp-layout local-class="content"
			classNames="p-4"}}
			<table class="table">
				<thead>
					<th>城市</th>
					<th>三级</th>
					<th>二级</th>
					<th>一级</th>
				</thead>
				<tbody>
					{{#each model.hospitalNumbers as |ch|}}
						<tr>
							<td>{{ch.cityName}}</td>
							<td>{{ch.thirdLevel.length}}</td>
							<td>{{ch.secondLevel.length}}</td>
							<td>{{ch.firstLevel.length}}</td>
						</tr>
					{{/each}}
					<tr>
						<td>总计</td>
						<td>{{model.total.thirdLevel}}</td>
						<td>{{model.total.secondLevel}}</td>
						<td>{{model.total.firstLevel}}</td>
					</tr>
					<tr></tr>
				</tbody>
			</table>
		{{/bp-layout}}
	{{/bp-layout}}
{{/bp-layout}}
{{#bp-layout local-class="cities-container"}}
	{{#bp-layout tagName="ul" direction="col" local-class="nav" 
				classNames="mr-4 p-4 bg-white"}}
		{{#each model.destConfigRegion.regionConfig.region.cities as |city index|}}
			{{#bp-layout tagName="li" cross="center" 
					local-class=(if (bp-eq salesGroupValue index) "active")
					classNames="px-4"}}
				<span {{action 'changeSalesValue' city index}}>
					{{city.name}}
				</span>
			{{/bp-layout}}
		{{/each}}
	{{/bp-layout}}
	{{#bp-layout direction="col" local-class="content"}}
		{{#bp-layout direction="col" local-class="city-infos"}}
			{{#bp-layout direction='col' classNames='bg-white' class='mb-4'}}
				{{#bp-layout direction='row' main='between' cross='center' local-class="title"}}
					<h3 local-class='main' class="mx-4 mt-3">
						{{model.city.name}}
					</h3>
				{{/bp-layout}}
				{{#bp-layout direction='row' main='between' cross='start'}}
					{{#bp-layout direction='col' main='center' classNames='m-4'}}
						<p local-class="sub-key">总医院数量</p>
						<p local-class='sub-value-num'>{{model.city.hospitalConfigs.length}}<span local-class='sub-num'
								class="ml-1">家</span></p>
					{{/bp-layout}}
					{{#bp-layout direction='col' main='center' classNames='m-4'}}
						<p local-class="sub-key">城市类型</p>
						<p local-class='sub-value'>{{model.city.type}}</p>
					{{/bp-layout}}
					{{#bp-layout direction='col' main='center' classNames='m-4'}}
						<p local-class="sub-key">城市战略定位</p>
						<p local-class='sub-value'>{{model.city.level}}</p>
					{{/bp-layout}}
					{{#bp-layout direction='col' main='center' classNames='m-4'}}
						<p local-class="sub-key">患者占比</p>
						{{#bp-layout direction='row' cross='center'}}
							{{#bp-layout direction='col' classNames='mr-4'}}
								<p local-class="sub-value" class="mb-1">{{model.city.localPatientRatio}}</p>
								<p local-class='sub-num'>本地患者</p>
							{{/bp-layout}}
							{{#bp-layout direction='col'}}
								<p local-class="sub-value" class="mb-1">{{model.city.nonlocalPatientRatio}}</p>
								<p local-class='sub-num'>外地患者</p>
							{{/bp-layout}}
						{{/bp-layout}}
					{{/bp-layout}}
				{{/bp-layout}}
			{{/bp-layout}}
		{{/bp-layout}}
		{{#each model.city.hospitalConfigs as |hospitalConfig|}}
			{{hospital-info
				hospitalConfig=hospitalConfig 
				salesConfigs=model.salesConfigs}}
		{{/each}}
	{{/bp-layout}}
{{/bp-layout}}