{{#bp-layout direction="col" local-class="page-result" 
	classNames="p-4"}}
	{{#if isHistory}}
		{{#link-to "page-history-report" local-class='back' classNames='mb-3'}}
			返回
		{{/link-to}}
	{{/if}}
	{{#bp-page-header class="mb-4" local-class='result-header' as |ph|}}
		{{#ph.body as |body|}}
			{{#body.left as |left|}}
				{{#left.item}}
					执行结果报告
				{{/left.item}}
				{{#left.item}}
					{{model.latestSeasonName}}
					{{!-- {{model.scenario.name}} --}}
					{{!-- 关卡周期 {{model.scenario.phase}}/{{model.detailProposal.proposal.totalPhase}} --}}
				{{/left.item}}
			{{/body.left}}
			{{#body.right}}
				{{#if (bp-eq model.curPaper.state 3)}}
					{{#bp-button classNames='mr-2'
					disabled=false
					onClick=(action 'outputData' 'business') }}
						导出数据
					{{/bp-button}}
					{{#bp-button
					onClick=(action 'checkManagerReport' model.curPaper) }}
						查看测评综合表现
					{{/bp-button}}
				{{else if (bp-not-eq model.scenario.phase model.detailProposal.proposal.totalPhase)}}
					{{#bp-button classNames='mr-2'
					type='primary'

					onClick=(action 'continueTest') }}
						进入下一季度
					{{/bp-button}}
				{{else}}
					{{#bp-button classNames='mr-2'
					disabled=false
					onClick=(action 'outputData' 'business') }}
						导出数据
					{{/bp-button}}
					{{#bp-button
					onClick=(action 'checkManagerReport' model.curPaper) }}
						查看测评综合表现
					{{/bp-button}}
				{{/if}}
			{{/body.right}}
		{{/ph.body}}
	{{/bp-page-header}}
	{{#bp-layout main='between' local-class='result-container'}}
		<nav local-class='nav' class="nav flex-column mr-4 p-4 bg-white">
			{{#each model.navs as |nav|}}
				{{#link-to nav.route tagName='li' classNames='px-3'}}
					{{nav.name}}
				{{/link-to}}
			{{/each}}
		</nav>
		<div local-class='content'>
			{{outlet}}
		</div>
	{{/bp-layout}}
{{/bp-layout}}