{{#bp-layout local-class="historical-sales-container"}}
	{{#bp-layout tagName="ul" direction="col" local-class="nav" 
				classNames="mr-4 p-4 bg-white"}}
		{{#each pageContent as |pc index|}}
			{{#bp-layout tagName="li" cross="center" 
					local-class=(if (bp-eq salesGroupValue index) "active")
					classNames="px-4"}}
				<span {{action 'changeSalesValue' index}}>{{pc}}销售报告</span>
			{{/bp-layout}}
		{{/each}}
		{{!-- {{#bp-layout tagName="li" cross="center" 
					local-class=(if (bp-eq salesGroupValue 0) "active")
					classNames="px-4"}}
			<span {{action 'changeSalesValue' 0}}>产品销售报告</span>
		{{/bp-layout}}
		{{#bp-layout tagName="li" cross="center" 
					local-class=(if (bp-eq salesGroupValue 1) "active")
					classNames="px-4"}}
			<span {{action 'changeSalesValue' 1}}>代表销售报告</span>
		{{/bp-layout}}
		{{#bp-layout tagName="li" cross="center" 
					local-class=(if (bp-eq salesGroupValue 2) "active")
					classNames="px-4"}}
			<span {{action 'changeSalesValue' 2}}>医院销售报告</span>
		{{/bp-layout}} --}}
	{{/bp-layout}}
	{{#bp-layout local-class="content"}}
		{{!-- {{#if (bp-eq salesGroupValue 0)}} --}}
		<div local-class="report product">
			{{#bp-layout tagName="h2" cross="center" local-class="title"
				 classNames="m-0 bg-white px-4"}}
				{{#each pageContent as |item index|}}
					{{#if (bp-eq index salesGroupValue)}}
						{{item}}销售结构分布图
					{{/if}}
				{{/each}}
			{{/bp-layout}}
			<div local-class="product-sales chart" class="mb-4 px-4 py-3 bg-white">
				{{bp-circle-double
						eid="circleProd"
						circleSize=circlePie
						circleData=doubleCircleData}}
			</div>
			{{#bp-layout tagName="h2" cross="center" 
					local-class="title"
					classNames="m-0 bg-white px-4"}}
				{{#each pageContent as |item index|}}
					{{#if (bp-eq index salesGroupValue)}}
						{{item}}销售趋势图
					{{/if}}
				{{/each}}
			{{/bp-layout}}
			{{#bp-layout main="between" 
						local-class="choose-container"
						classNames="bg-white"}}
				{{#if (bp-eq salesGroupValue 1)}}
					{{#bp-layout main="between" cross="center"
							local-class="choose-area" 
							classNames="px-4"}}
						<span local-class="keys" class="mr-4">
							选择代表
						</span>
						{{#bp-dropdown widthSize="auto"
								local-class="dd-medicines dd-area" as |dd|}}
							{{#dd.button}}
								{{#if tmpRsr.id}}
									<p>{{tmpRsr.representativeName}}</p>
								{{else}}
									请选择
								{{/if}}
								{{bp-icon icon='down'}}
							{{/dd.button}}
							{{#dd.menu as |menu|}}
								{{#menu.option value=totalRepresentatives
									onClick=(action (mut tmpRsr))}}
									全部选择
								{{/menu.option}}
								{{#each model.representativeSalesReports as |rsrs|}}
									{{#menu.option value=rsrs
												onClick=(action (mut tmpRsr))}}
										{{rsrs.representativeName}}
									{{/menu.option}}
								{{/each}}
							{{/dd.menu}}
						{{/bp-dropdown}}
					{{/bp-layout}}
				{{else if (bp-eq salesGroupValue 2)}}
					{{#bp-layout main="between" cross="center"
							local-class="choose-area" 
							classNames="px-4"}}
						<span local-class="keys" class="mr-4">
							选择医院
						</span>
						{{#bp-dropdown widthSize="auto"
								local-class="dd-medicines dd-area" as |dd|}}
							{{#dd.button}}
								{{#if tmpRsr.id}}
									<p>{{tmpRsr.representativeName}}</p>
								{{else}}
									请选择
								{{/if}}
								{{bp-icon icon='down'}}
							{{/dd.button}}
							{{#dd.menu as |menu|}}
								{{#menu.option value=totalRepresentatives
									onClick=(action (mut tmpRsr))}}
									全部选择
								{{/menu.option}}
								{{#each model.representativeSalesReports as |rsrs|}}
									{{#menu.option value=rsrs
										onClick=(action (mut tmpRsr))}}
										{{rsrs.representativeName}}
									{{/menu.option}}
								{{/each}}
							{{/dd.menu}}
						{{/bp-dropdown}}
					{{/bp-layout}}
				{{/if}}
				{{#bp-layout main="between" cross="center"
							local-class="choose-area" 
							classNames="px-4"}}
					<span local-class="keys" class="mr-4">
						选择产品
					</span>
					{{#bp-dropdown widthSize="auto"
								local-class="dd-medicines dd-area" as |dd|}}
						{{#dd.button}}
							{{#if tmpRsr.id}}
								<p>{{tmpRsr.representativeName}}</p>
							{{else}}
								请选择
							{{/if}}
							{{bp-icon icon='down'}}
						{{/dd.button}}
						{{#dd.menu as |menu|}}
							{{#menu.option value=totalRepresentatives
								onClick=(action (mut tmpRsr))}}
								全部选择
							{{/menu.option}}
							{{#each model.representativeSalesReports as |rsrs|}}
								{{#menu.option value=rsrs
									onClick=(action (mut tmpRsr))}}
									{{rsrs.representativeName}}
								{{/menu.option}}
							{{/each}}
						{{/dd.menu}}
					{{/bp-dropdown}}
				{{/bp-layout}}
				{{#if (bp-eq salesGroupValue 0)}}
					<div local-class="choose-area"></div>
				{{/if}}
				{{!-- <div local-class="choose-area"></div> --}}
			{{/bp-layout}}
			{{!-- {{#bp-layout cross="center" 
					local-class="choose-area"
					classNames="m-0 bg-white px-4"}}
					<p class="mb-0 mr-3">选择产品</p>
					{{#bp-dropdown widthSize="auto"
						local-class="dd-medicines dd-area" as |dd|}}
						{{#dd.button}}
							{{#if tmpPsr.id}}
								<p>{{tmpPsr.productName}}</p>
							{{else}}
								请选择
							{{/if}}
							{{bp-icon icon='down'}}
						{{/dd.button}}
						{{#dd.menu as |menu|}}
							{{#menu.option value=totalProduct
								onClick=(action (mut tmpPsr))}}
								全部选择
							{{/menu.option}}
							{{#each model.productSalesReports as |psrs|}}
								{{#menu.option value=psrs
												onClick=(action (mut tmpPsr))}}
									{{psrs.productName}}
								{{/menu.option}}
 
				{{/bp-layout}} --}}
			<div local-class="product-sales chart" class="mb-4 px-4 py-3 bg-white">
				{{bp-bar-line
					eid="chartbarLine"
					chartData=barLineData
				}}
			</div>
			{{#bp-layout tagName="h2" main='between' cross="center" local-class="title"
				 classNames="m-0 bg-white px-4"}}
				{{#each pageContent as |item index|}}
					{{#if (bp-eq index salesGroupValue)}}
						{{item}}销售数据表
					{{/if}}
				{{/each}}
				{{#bp-button}}导出数据{{/bp-button}}
			{{/bp-layout}}
			{{#bp-layout direction="col" local-class='table-area'}}
				<div class="table-responsive" local-class='table-content'>
					<table local-class="table-container" class="table">
						<thead>
							<th>药品名称 </th>
							{{#each model.tableHead as |tcontent|}}
								<th class="text-center">{{tcontent}}</th>
							{{/each}}
						</thead>
						<tbody class="bg-white">
							{{#each model.prodTableBody as |trContent|}}
								{{#if (bp-not-eq tmpPsr.productName undefined '全部选择')}}
									{{#if (bp-eq tmpPsr.productName trContent.name)}}
										<tr>
											<td>{{trContent.name}}</td>
											{{#each trContent.tableTr as |tdContent|}}
												<td>￥{{format-number tdContent}}</td>
											{{/each}}
										</tr>
									{{/if}}
								{{else}}
									<tr>
										<td>{{trContent.name}}</td>
										{{#each trContent.tableTr as |tdContent|}}
											<td>{{format-number tdContent}}</td>
										{{/each}}
									</tr>
								{{/if}}
							{{/each}}
						</tbody>
					</table>
				</div>
			{{/bp-layout}}
		</div>
		{{!-- {{else if (bp-eq salesGroupValue 1)}}
			<div local-class="report representative" class="bg-white">
				{{#bp-layout tagName="h2" cross="center" local-class="title"
				 classNames="m-0 bg-white px-4"}}
					代表销售报告
				{{/bp-layout}}
				{{#bp-layout direction="col"}}
					{{#bp-layout main="between" 
						local-class="choose-container"
						classNames="mb-4 bg-white"}}
						{{#bp-layout main="between" cross="center"
							local-class="choose-area" 
							classNames="px-4"}}
							<span local-class="keys" class="mr-4">选择代表</span>
							{{#bp-dropdown widthSize="auto"
								local-class="dd-medicines dd-area" as |dd|}}
								{{#dd.button}}
									{{#if tmpRsr.id}}
										<p>{{tmpRsr.representativeName}}</p>
									{{else}}
										请选择
									{{/if}}
									{{bp-icon icon='down'}}
								{{/dd.button}}
								{{#dd.menu as |menu|}}
									{{#menu.option value=totalRepresentatives
												onClick=(action (mut tmpRsr))}}
										全部选择
									{{/menu.option}}
									{{#each model.representativeSalesReports as |rsrs|}}
										{{#menu.option value=rsrs
												onClick=(action (mut tmpRsr))}}
											{{rsrs.representativeName}}
										{{/menu.option}}
									{{/each}}
								{{/dd.menu}}
							{{/bp-dropdown}}
						{{/bp-layout}}
						<div local-class="choose-area"></div>
					{{/bp-layout}}
					<table local-class="table-container" class="table">
						<thead>
							<th>代表名称</th>
							<th>潜力</th>
							{{#each model.tableHead as |thContent|}}
								<th>{{thContent}}</th>
							{{/each}}
						</thead>
						<tbody class="bg-white">
							{{#each model.repTableBody as |trContent|}}
								{{#if (bp-not-eq tmpRsr.representativeName undefined '全部选择')}}
									{{#if (bp-eq tmpRsr.representativeName trContent.name)}}
										<tr>
											<td>{{trContent.name}}</td>
											<td>{{trContent.potential}}</td>
											{{#each trContent.tableTr as |tdContent|}}
												<td>￥{{format-number tdContent}}</td>
											{{/each}}
										</tr>
									{{/if}}
								{{else}}
									<tr>
										<td>{{trContent.name}}</td>
										<td>{{trContent.potential}}</td>
										{{#each trContent.tableTr as |tdContent|}}
											<td>￥{{format-number tdContent}}</td>
										{{/each}}
									</tr>
								{{/if}}
							{{/each}}
						</tbody>
					</table>
				{{/bp-layout}}
			</div>
		{{else}}
			<div local-class="report hospital">
				{{#bp-layout tagName="h2" cross="center" local-class="title"
				 classNames="m-0 bg-white px-4"}}
					医院销售报告
				{{/bp-layout}}
				{{#bp-layout direction="col"}}
					{{#bp-layout main="between" local-class="choose-container"
						classNames="bg-white"}}
						{{#bp-layout main="between" cross="center"
							local-class="choose-area" classNames="px-4"}}
							<span local-class="keys" class="mr-4">选择医院</span>
							{{#bp-dropdown widthSize="auto"
								local-class="dd-medicines dd-area" as |dd|}}
								{{#dd.button}}
									{{#if tmpHsr.id}}
										<p>{{tmpHsr.hospitalName}}</p>
									{{else}}
										请选择
									{{/if}}
									{{bp-icon icon='down'}}
								{{/dd.button}}
								{{#dd.menu as |menu|}}
									{{#menu.option value=totalHospitals
										onClick=(action (mut tmpHsr))}}
										全部选择
									{{/menu.option}}
									{{#each model.hospitalSalesReports as |hsrs|}}
										{{#menu.option value=hsrs
												onClick=(action (mut tmpHsr))}}
											{{hsrs.hospitalName}}
										{{/menu.option}}
									{{/each}}
								{{/dd.menu}}
							{{/bp-dropdown}}
						{{/bp-layout}}
						{{#bp-layout main="between" cross="center"
							local-class="choose-area"  classNames="px-4"}}
							<span local-class="keys" class="mr-4">选择产品</span>
							{{#bp-dropdown widthSize="auto"
								local-class="dd-sort dd-area" as |dd|}}
								{{#dd.button}}
									{{#if tmpPsr.id}}
										<p>{{tmpPsr.productName}}</p>
									{{else}}
										请选择
									{{/if}}
									{{bp-icon icon='down'}}
								{{/dd.button}}
								{{#dd.menu as |menu|}}
									{{#each model.productSalesReports as |psrs|}}
										{{#menu.option value=psrs
												onClick=(action (mut tmpPsr))}}
											{{psrs.productName}}
										{{/menu.option}}
									{{/each}}
								{{/dd.menu}}
							{{/bp-dropdown}}
						{{/bp-layout}}
					{{/bp-layout}}
					<table local-class="table-container" class="table">
						<thead>
							<th>医院名称</th>
							<th>产品</th>
							<th>潜力</th>
							{{#each model.tableHead as |tcontent|}}
								<th>{{tcontent}}</th>
							{{/each}}
						</thead>
						<tbody class="bg-white">
							{{#each model.hospTableBody as |trContent|}}
								{{#if (bp-not-eq tmpHsr.hospitalName undefined '全部选择')}}
									{{#if (bp-eq tmpHsr.hospitalName trContent.name)}}
										<tr>
											<td>{{trContent.name}}</td>
											<td>{{trContent.productName}}</td>
											<td>{{format-number trContent.potential}}</td>
											{{#each trContent.tableTr as |tdContent|}}
												<td>￥{{format-number tdContent}}</td>
											{{/each}}
										</tr>
									{{/if}}
								{{else}}
									<tr>
										<td>{{trContent.name}}</td>
										<td>{{trContent.productName}}</td>
										<td>{{format-number trContent.potential}}</td>
										{{#each trContent.tableTr as |tdContent|}}
											<td>￥{{format-number tdContent}}</td>
										{{/each}}
									</tr>
								{{/if}}
							{{/each}}
						</tbody>
					</table>
				{{/bp-layout}}
			</div>
		{{/if}} --}}
	{{/bp-layout}}
{{/bp-layout}}